<h2>Products</h2>

<div *ngFor="let product of products">
        <h3>
            <a [title] = "product.name"
            [routerLink]=" ['/products', product.id]">

            {{product.name}}   
            </a>    
            {{ product.price | currency}}
        </h3>
        <p *ngIf="product.description">
            Description: {{ product.description }}
          </p>
          <form [formGroup]="checkoutForm" (ngSubmit)="addToCart(product, amount)">
            <div>
              <label for="amount">
                Amount
              </label>
              <input id="amount" type="text" [(ngModel)]="amount" formControlName="amount">
            </div>
            <button class="button" type="submit">Add to Cart</button>
          
          </form>
<!-- 
          <button type="button" (click)="share()">
            Share
          </button> -->
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->