<mat-tab-group dynamicHeight>
    <mat-tab label="Product Support">
        <div>
            <app-product-contact></app-product-contact>
        </div>
    </mat-tab>
    <mat-tab label="Shipping Support">
        <div>
            <app-shipping-contact></app-shipping-contact>
        </div>
    </mat-tab>
    <mat-tab label="Payment Support">
        <div>
            <app-payment-contact></app-payment-contact>
        </div>
    </mat-tab>
    <mat-tab label="Feedback and General Support">
        <div>
            <app-feedback-contact></app-feedback-contact>
        </div>
    </mat-tab>
</mat-tab-group>