<div class="home-grid">
  <header id="home">
    <img class="image" src="https://images.pexels.com/photos/1069798/pexels-photo-1069798.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Phone">
  </header>

  <div id="about">
    <div class="logo">
      <h1><span class="br"><b>BR</b></span> <span>Technology</span></h1>
    </div>
    <h3>About</h3>

    <p>Thank you for visiting BRTechnology.  Our mission is to provide you with great deals on high quality electronic products.  
    We cater to those who want simple and easy access to purchase online, and we avoid carrier locked phones to ensure our customers will have full control over their devices.  
    Our top priorities are value and customer service, we will fight to win and keep your business.  We hope that you will consider purchasing from us! 
    </p>

    <h3>Business Strategy</h3>
    <p>Our target customer is the tech enthusiast, who want full control over their devices.  
      That is why we avoid working with any carriers, all devices sold on our site are carrier-free as soon as they are shipped to you.
      We purchase directly from the manufacturer to ensure we can pass the best price on to consumers.
    </p>

    <h3>Message to Customers</h3>
    <p>We fight to win and keep your business through great deals and exceptional customer service.  
      We provide you with the best possible price by purchasing from the manufacturer and limiting costs in other aspects of our business.
      We have a small but dedicated team working hard to ensure you have the best experience possible.
      We provide unparalled customer service by providing tech support after you have purchased your device.
      You can rest assured that all of your inquiries will be addressed and that we will find a solution for you.
      Thank you for visiting our site, we hope you will consider doing business with us!
    </p>
  </div>
</div>