/* Global Styles */

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}

/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}


.image{
  max-width:100%;
  height: auto;
}
.center{
  margin-top: 16px!important;
  text-align: center!important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
b{
  color: #fff!important;
  background-color: #000!important;
  padding: 8px 16px!important;
  opacity: 0.75;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #1976d2;
}

.fancy-button  {
  color: #1976d2;
  padding-right: 4px;
}
i.material-icons{
  font-size: 15px;
}
.button, button {
  color: #fff!important;
  background-color: #000!important;
  margin-top: 16px!important;
  margin-bottom: 16px!important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
}

/* Top Bar */

app-top-bar {
  width:100%;
  z-index:1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.bar-item{
  padding:8px 16px;
  float:left;
  width:auto;
  border:none;
  display:block;
  outline:0;
}
.bar-right{
  float:right!important
}
.bar{
  color: #000!important;
  background-color: #fff!important;
  padding: 8px 16px!important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  width: 100%;
  overflow: hidden;
  letter-spacing: 4px;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}
/*Nav Button */
.nav-button {
  border:none;
  display:inline-block;
  padding:8px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.nav-button:hover{
  color:#000!important;
  background-color:#ccc!important
}

.nav-button:disabled{
  opacity: 0.5;
  cursor: auto;
}

/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}


  