<br>
<div class="w3-row-padding w3-greyscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images.pexels.com/photos/5726783/pexels-photo-5726783.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="John" style="width:100%">
      <h3>John Doe</h3>
      <p class="w3-opacity">CEO & Founder</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="button">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images.pexels.com/photos/5726783/pexels-photo-5726783.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Jane" style="width:100%">
      <h3>Jane Doe</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="button">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images.pexels.com/photos/5726783/pexels-photo-5726783.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Mike" style="width:100%">
      <h3>Mike Ross</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="button">Contact</button></p>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://images.pexels.com/photos/5726783/pexels-photo-5726783.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Dan" style="width:100%">
      <h3>Dan Star</h3>
      <p class="w3-opacity">Architect</p>
      <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
      <p><button class="button">Contact</button></p>
    </div>
</div>