<h3>Shipping Prices</h3>

<div class="shipping-item" *ngFor="let shipping of shippingCosts | async">
  <span>{{ shipping.type }}</span>
  <span>{{ shipping.price | currency }}</span>
</div>

<section class="example-section" [formGroup]="shippingTypes">
  <h4>Select your shipping method:</h4>
  <p><mat-checkbox formControlName="Overnight">Overnight</mat-checkbox></p>
  <p><mat-checkbox formControlName="TwoDay">2-Day</mat-checkbox></p>
  <p><mat-checkbox formControlName="Postal">Postal</mat-checkbox></p>
</section>
<hr class="solid">
<div >
  <h2>Total amount:</h2>
  <hr class="solid">
  <span class="cart-item">{{total | currency}}</span>
</div>

<a routerLink="/shipping" class="button">
  Continue to Payment 
 </a>
