<h2>Product Details</h2>

<style>
  .single-article hr {
    margin: 30px -20px 20px;
    border: 0;
    border-top: 1px solid #c9c7c7;

  }

  img {
    width : 200px;
    height: auto; /*to preserve the aspect ratio of the image*/
  }
</style>


<div *ngIf="product">
  <img src={{product.image}} alt={{product.description}} >
  <h2>{{ product.name }}</h2>
  <h3 style="font-weight:bold;color: maroon;">{{ product.price | currency }}</h3>
  <p>{{ product.description }}</p>
  <button type="button" (click)="addToCart(product)">Buy</button>
</div>
