<!-- Navbar (sit on top) -->
  <div class="bar">
    <a routerLink="" class="bar-item nav-button"><b>BR</b> Technology</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="bar-right">
      <a routerLink="/products" class="bar-item nav-button">Products</a>
      <a routerLink="/about-us" class="bar-item nav-button">About</a>
      <a routerLink="/contact" class="bar-item nav-button">Contact</a>
      <a routerLink="/cart"  class="bar-item nav-button">
        Checkout<i class="material-icons">shopping_cart</i>
      </a>
    </div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->